@charset "utf-8";
/* CSS Document */

body {
  background:#474747;
}

dt {
	color:#6C7A7D;
	text-shadow: 3px 3px 2px #000000;
filter: dropshadow(color=#000000, offx=3, offy=3); 
}

p,td,dd{
   color:#FFF;	
}
	
#inventory table tr:hover td {
  background: #569DA6;
}

h1 {
	background:#333;
	text-align: center;
    font-size: 50px;
    color:#FFF;
}

h2,h3 {
	margin: 20px 0 0 20px;
    font-size: 30px;
    text-transform: uppercase;
    color: #222;
    text-shadow: 0px 2px 3px #666;
}

body.benchmarking{
	background: #900; 
	 }
	 
body.benchmarking h1{
	background: #900;
	
	}