@charset "utf-8";
/* CSS Document */

body {
  background:#F90;
}

h1,h2,dt {
	color:#FFF;
	text-shadow: 3px 3px 2px #000000;
filter: dropshadow(color=#000000, offx=3, offy=3); 
}

#inventory table tr:hover td {
  background: #FF0;
}
#glossary:hover dd {
  background:#C00
}

body.bm{
	background: #900;
	
	 }
	 
body.bm h1{
	background: white;
	text-align: left;
	color:#FFF;
	}
.bm #wrapper{
	width: 870px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left:auto;
	background-attachment: scroll;
	
	}
.bm #header {
	background:white;
}
.bm #content {
	background-color: #0000;	
	width: 870px;
	position:relative;
	margin:0 auto;
}
.bm #content h2 {
	text-align:center;
	}
.bm #content h3 {
	text-align:center;
	}
.bm li {
	color:white;
}
.bm #main1 {
	float:left;
	width:300px;
	}
	
	.bm #main2 {
	float:right;
	width:300px;
	}

