@import url(http://fonts.googleapis.com/css?family=Abel);

body {
  font-family: Tahoma, Geneva, sans-serif;
}

#glossary dt {
  font-weight: normal;
  float: left;
  margin-right: 5px;
}

#glossary dd {
  margin-left: 0;
}

#inventory {
  width: 100%;
  overflow: hidden;
}

#inventory table td,
#inventory table th {
  border-top: 1px solid #ddd;
}

#inventory table th {
  background: #0F0;
}

#inventory table td {
  white-space: inherit;
}

#inventory table tr:hover td {
  background: #F00;
}

