@charset "utf-8";
/* CSS Document */


body {
	background-color: #EEDBBD;
	
}

h1{
	background:#003F42;
	color:#FFFFFF;
}

h2{
	background:#AADCE3;
	color:#003F42;
}

p{
	background:#FFFFFF;
}

#glossary dl dd:hover{
	background: #FBF2E3;
}

dt{
	color: #003F42;
}

table{
	background: #B5B251;
}

body.bm {
	background: #cdcdcd;
}

body.bm  #wrapper {
	width:850px;
	margin:30px auto;
}

body.bm  #content {
	padding: 5px 20px 30px 20px;
	background:#b4b4b4;
} 

body.bm  #header {
	margin-bottom: 30px;
	padding-left:10px;
	background:#FFFFFF;
	height: 120px;
}

body.bm img {
	border: none;
}

body.bm  span#banner {
	float: right;
}

body.bm  #main h2 {
	padding:5px 15px 5px 15px;
}

body.bm  #main p {
	margin-left:15px;
	padding:10px 15px 10px 15px;
	margin-right:15px;
}

body.bm  #main img {
	margin-left: 30px;
}

.bm #content a:hover img {
	border:10px solid #cdcdcd;
}


