@charset "utf-8";
/* CSS Document */

html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

body {
    background-color: #222222;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

